.image-coroper {
  position: relative;
  width: 40rem;
  height: 40rem;
}

.crop-container {
}

//   .controls {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     width: 50%;
//     transform: translateX(-50%);
//     height: 80px;
//     display: flex;
//     align-items: center;
//   }

//   .slider {
//     padding: 22px 0px;
//   }
