.navigation {
  z-index: 100;
  background-color: white;
  margin-bottom: 1rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 32px 50px -20px rgba(0, 0, 0, 0.22);
  position: fixed;
  width: 100%;

  @media only screen and (max-width: 37.5em) {
    background-color: white;
    margin-top: 0;
    height: 4rem;
  }
  @media only screen and (max-width: 47.18em) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
  }

  &_logo {
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      font-family: 'Righteous', sans-serif;
    }
    @media only screen and (max-width: 37.5em) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  &_options {
    @media only screen and (max-width: 601px) {
      height: 40%;
    }

    width: 22rem;
    height: 100%;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    &-online {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &--links {
        width: 11rem;

        display: flex;
        justify-content: space-around;
        align-items: center;
        & > * {
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
  }
}

#login-link,
#home-link {
  border-bottom: 2px solid white;
  transition: all 0.3s;
  &:hover {
    border-bottom: 2px solid black;
  }
}

.responsive_search {
  display: none;

  @media only screen and (max-width: 601px) {
    position: relative;
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 1.3rem;
    cursor: pointer;

    &-container {
      position: absolute;
      top: -1.5rem;
      left: -1.3rem;
      transition: all 0.5s;
      visibility: hidden;
      opacity: 0;
      height: 105vh;
      z-index: 8000;
      background-color: white;
      &--search {
        margin-top: 10rem;
        &-exit {
          position: absolute;
          top: 1.5rem;
          left: 1.3rem;
          cursor: pointer;
        }
      }
    }
  }
}

.addUser {
  @media only screen and (max-width: 601px) {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &_image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid white;
    object-fit: cover;
    box-shadow: 0px 0px 2px 0px rgba(115, 110, 115, 1);
  }
  &_addImage {
    transition: all 0.4s;
    width: 1.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0.2rem;
    bottom: 0;
    color: grey;
    font-size: 1.5rem;
    box-shadow: 0px 0px 4px 1px rgba(110, 108, 110, 1);
    cursor: pointer;
  }
}
